{% extends "admin/base_site.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div>
      <p>
        Update a specific Wallet's balance.
      </p>
    </div>
    <div>
      {% for wallet in wallets %}
        <p>
          Wallet: {{wallet.name}}
        </p>
        <p>
          Current Balance: {{wallet.balance}} {{wallet.currency.code}}
        </p>
        <input type="hidden" name="_selected_action" value="{{wallet.pk}}"/>
        <p>
          Enter Balance:
          <input type="number" name="balance_modify_{{wallet.pk}}" value="0" step="1"/>
        </p>
      {% endfor %}
    </div>
    <div>
      <input type="hidden" name="action" value="modify_balance">
      <input type="submit" name="set" value="Set Balance"/>
      <input type="submit" name="reduce" value="Decrease Balance"/>
      <input type="submit" name="add" value="Increase Balance"/>
      <input type="button" value="Cancel" onclick="history.go(-1); return true;"/>
    </div>
  </form>
{% endblock %}
